:root {
  --color-primary:#212b33;
  --color-secondary:rgb(231 235 236);
  --color-white:#ffff;
  --font-type:'Quicksand'; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-white-color); }

.container {
  padding: 30px 75px; }

.button {
  text-decoration: none;
  padding: 18px;
  border-radius: 30px; }

.button-dark {
  background-color: var(--color-primary);
  color: white; }

.button-light {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  margin: 0 50px;
  padding: 20px; }

.button-white {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 20px;
  font-size: 20px; }

.header_container--text {
  margin: 6rem 0; }
  .header_container--text h1 {
    font-size: 120px;
    font-weight: 500; }

.header_container--buttons {
  display: flex;
  justify-content: space-between; }

.header_container--links-list {
  display: flex; }
  .header_container--links-list li {
    list-style-type: none; }
  .header_container--links-list a {
    text-decoration: none;
    color: var(--color-primary); }
  .header_container--links-list li:not(:last-child) {
    margin: 0 25px; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav_logo img {
    height: 40px; }
  .nav_links--list {
    display: flex; }
    .nav_links--list li {
      margin: 0 2.5rem;
      list-style: none; }
    .nav_links--list a {
      text-decoration: none;
      color: var(--color-primary); }

.aboutus {
  background-color: var(--color-primary);
  margin-top: 10rem; }
  .aboutus_section {
    display: flex;
    justify-content: space-between; }
    .aboutus_section-one-profile {
      display: flex;
      align-items: center; }
      .aboutus_section-one-profile img {
        height: 5rem;
        width: 5rem;
        border-radius: 100%; }
      .aboutus_section-one-profile p {
        font-weight: 500;
        color: white;
        margin: 0 15px; }
      .aboutus_section-one-profile-text {
        font-weight: 200; }
    .aboutus_section-one {
      margin: 50px 10px 50px 0;
      flex: 0 0 50%; }
      .aboutus_section-one-image {
        margin-top: 45px; }
      .aboutus_section-one-image img {
        height: 40rem; }
    .aboutus_section-two {
      flex: 1;
      margin: 50px 0; }
      .aboutus_section-two h2 {
        color: var(--color-white);
        font-size: 100px;
        font-weight: 400; }
      .aboutus_section-two p {
        color: var(--color-white);
        font-size: 1rem;
        font-weight: 100;
        line-height: 2;
        padding: 0 35px 0 0;
        margin: 50px 10px 65px 0; }

.services {
  margin: 50px 0; }
  .services_heading {
    color: var(--color-primary);
    font-size: 5rem;
    font-weight: 400; }

.logos {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 2px solid rgba(141, 141, 141, 0.712);
  padding: 50px 0 0 0; }

.logo {
  flex: 1; }
  .logo:not(:last-child) {
    margin-right: 50px; }
  .logo img {
    width: 50%; }

.cards {
  display: flex;
  margin: 70px 0; }

.card {
  flex: 1;
  padding: 50px;
  text-align: center;
  height: 20rem; }
  .card:not(:last-child) {
    margin-right: 50px; }
  .card-icon {
    display: block;
    margin-bottom: 90px;
    color: var(--color-primary); }
    .card-icon i {
      font-size: 2rem;
      border: 1px solid var(--color-primary);
      padding: 15px;
      background-color: var(--color-white); }
  .card-text {
    font-size: 1.5rem;
    margin-bottom: 90px;
    font-weight: 500; }
    .card-text_client {
      font-weight: 200;
      font-size: 1rem; }
  .card-dark {
    background-color: var(--color-primary);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }
