.button{
    text-decoration: none;
    padding:18px;
    border-radius:30px;
}
.button-dark{
        background-color: var(--color-primary);
        color:white;
}

.button-light{
        background-color:var(--color-secondary);
        color:var(--color-primary);
        margin: 0 50px;
        padding:20px;
       
}

.button-white{
        background-color:var(--color-white);
        color:var(--color-primary);
        padding:20px;
        font-size: 20px;
       
}