.nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
    &_logo img{
        height: 40px;
    }
    &_links {
        
    &--list{
         display: flex;
        & li{
         margin: 0 2.5rem;
         list-style: none;
        }
        & a{
           text-decoration: none;
           color:var(--color-primary);
        }
    }
    }
}